.navbar-bg{
    background: #26254f;
}

.navbar-bottom-border{
    border-bottom: 1px solid #fcb900;
}


.navbar-icon{
    width: 26px;
}

.navbar-search{
    display: flex;
    justify-content: left;
    background-color: white;
    padding: 10px 25px;
    border-radius: 30px;
    
}

.navbar-search > input{
    border:none;
    outline: none;
    width: 70%;
    
}

.wp-icon{
    width: 40px;
}

.deneme{
    position: absolute;
    right: 20%;
}